In [7]:
import pymysql as sql

In [3]:
db=sql.connect(host='localhost',user='root',password='passwd',port=3306)

In [4]:
print(db)

<pymysql.connections.Connection object at 0x7fa5544ea0e0>

In [6]:
cur=db.cursor()

In [7]:
cur.execute('show databases')

5

In [8]:
cur.fetchall()

(('arya_ds',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',))

In [9]:
cur.execute('use arya_ds')

0

In [10]:
cur.execute('show tables')
cur.fetchall()

(('address',),
 ('fees',),
 ('filter_fees',),
 ('new',),
 ('person',),
 ('Student',))

In [11]:
cur.execute('select * from Student')
cur.fetchall()

((1, 'Aman', 25),
 (2, 'Simran', 26),
 (3, 'Ram', 24),
 (4, 'Yogendra', 20),
 (5, 'Tushar', 20),
 (6, 'Yash', 21),
 (7, 'Vishal', 19),
 (8, 'Kartik', 21),
 (9, 'Piyush', 22),
 (10, 'Rahul', 18))

In [12]:
db.close()

In [8]:
db=sql.connect(host='localhost',user='root',password='passwd',port=3306)

In [9]:
print(db)
cur=db.cursor()

<pymysql.connections.Connection object at 0x7f7fc4e29810>

In [10]:
cur.execute('use arya_ds')
cur.fetchall()
cur.execute('create table arya(sid int(3),name varchar(10),age int(3))')
cur.fetchall()
cur.execute('desc arya')
cur.fetchall()
cur.execute('insert into arya values(1,"yogendra",20)')
cur.fetchall()

[]

In [11]:
cur.execute('select * from arya')
cur.fetchall()

((1, 'yogendra', 20),)